# Python & Bytecode
__pycache__/
*.py[cod]
*$py.class
*.spec

# PyInstaller Build Artifacts (teniamo il codice sorgente leggero)
build/
dist/

# Ambienti virtuali
venv/
env/
.env

# Log di sistema
*.log
logs/

# Database SQLite locale runtime
*.sqlite
*.db

